body {
    width: 100%;
    height: 200px;
    background: linear-gradient(to right,rgb(248, 176, 109), #ec8cbc, #640ebb);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family:Arial, Helvetica, sans-serif
}
.color-mix-button {
    background: linear-gradient(to right,rgb(255, 182, 114), #fd0983, #8a33e0);
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    border: none;

    border-radius: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 250px;
  }
  .container {
    display: grid;
    flex-direction: column;
    margin: 150px 80px 150px 80px ;
    background-color: white;
    height: 550px;
    border-radius: 20px;
  }
  .form {
    display: grid;
    position: relative;
    left: 60%;
    bottom: 120%;
  }
  .cred {
    background-color: rgb(226, 226, 226);
    border: 1px rgb(226, 226, 226);
    border-color: none;
    height: 35px;
    width: 250px;
    border-radius: 8px;
  }
  p {
    color: rgb(96, 96, 96);
  }
  .input-1 {
    background-color: rgb(226, 226, 226);
    width: 20%;
    border-radius: 15px;
    padding-left: 10px;
  }
 